/* --- Font Awesome ---
 * http://fontawesome.io/
 * License: SIL Open Font License
 */
 @font-face {
   font: { family: "FontAwesome"; weight: 300; style: normal; }
   src: url("../../data/assets/fonts/fontawesome-webfont.woff2") format("woff2")
 }

/* --- Source Sans Pro ---
 * https://github.com/adobe-fonts/source-sans-pro
 * License: SIL Open Font License
 */

@font-face {
  font: { family: "Source Sans Pro"; weight: 300; style: normal; }
  src: url("../../data/assets/fonts/source-sans-pro-light.woff2") format("woff2")
}
@font-face {
  font: { family: "Source Sans Pro"; weight: 400; style: normal; }
  src: url("../../data/assets/fonts/source-sans-pro-regular.woff2") format("woff2")
}
@font-face {
  font: { family: "Source Sans Pro"; weight: 600; style: normal; }
  src: url("../../data/assets/fonts/source-sans-pro-semi-bold.woff2") format("woff2")
}
@font-face {
  font: { family: "Source Sans Pro"; weight: 700; style: normal; }
  src: url("../../data/assets/fonts/source-sans-pro-bold.woff2") format("woff2")
}
