.playlist-list {
	.playlist {
		overflow: hidden;
		border-bottom: 1px solid #eee;
		padding: 10px;
		display: table;
		width: 100%;

		a {
			display: block;
			text-decoration: none;
			color: inherit;
		}

		.pic {
			width: 75px;
			margin-right: 15px;
			display: table-cell;
			vertical-align: middle;
			padding-left: 6px;
			padding-right: 10px;

			.pic-container, .pic-container img {
				width: 75px;
				display: block;
				background: #aaa;
				min-height: 44px;
				border-radius: 3px;
			}
		}

		.favorite {
			display: table-cell;
			width: 24px;
			text-align: center;
			vertical-align: middle;

			.favorite-button {
				padding: 4px;
				color: #999;

				&:before { content: "\f08a"; }

				&:hover, &.active {
					color: #BD171E;
					&:before { content: "\f004"; }
				}

				&.active:hover {
					color: #999;

					&:before { content: "\f08a"; }
				}
			}
		}

		.info {
			display: table-cell;
			vertical-align: middle;

			> .block { display: block; }

			.title {
				font-weight: 600;
				line-height: 1em;
				margin-bottom: 0.35em;
			}

			.video-count, .created-at, .last-updated { color: #777; }

			.created-at {
				color: #999;
				margin-top: 0.35em;
				font-size: 0.85em;
				font-weight: 200;
			}
		}
	}
}