.window#sendeplan {
	min-height: 100vh;
	background: #d3d3d3;
}


// -------------------------------
//
//		Sendeplan-Navigation
//
// -------------------------------
.sendeplan-header {
	height: 48px;

	* { cursor: default; }

	.sendeplan-header-inner {
		background: #222;
		position:relative;
		z-index: 4;
		height: 48px;
		box-shadow: 0 1px 7px rgba(0,0,0,0.5);
		text-align: center;

		&.fixed {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
		}
		
		> * { box-sizing: border-box; }
		
		.current-date {
			width: auto;
			overflow: hidden;
			padding: 8px;
			color: #ccc;
			text-align: center;
			position: relative;
			// text-transform: uppercase;

			.date, .day { display: block; }

			.day {
				font-size: 15px;
				font-weight: 500;
				color: #bbb;
				line-height: 17px;
			}
			.date {
				font-weight: 400;
				font-size: 12px;
				color: #777;
			}

			// &.today {
			// 	.day {
			// 		display: inline-block;
			// 		height: 100%;
			// 		height: 16px;
			// 		margin-top: 5px;
			// 		line-height: 16px;
			// 		font-size: 14px;
			// 		font-weight: 600 !important;
			// 		text-transform: uppercase;
			// 		padding: 3px 6px;
			// 		border-radius: 3px;
			// 		background: rgba(255,255,255,0.1);
			// 	}
			// }
		}

		.header-button {
			height: 48px;
			width: 36px;
			font-size: 16px;
			color: rgba(255,255,255,0.4);
			line-height: 48px;
			text-align: center;
			cursor: pointer;
			// background: rgba(255,255,255,0.04);
			transition: all 0.12s ease-in-out;

			&.left {
				float: left;
			}
			&.right {
				float: right;
			}

			&:hover {
				color: #fff;
				border-color: transparent;
				background: rgba(255,255,255,0.1);
			}
		}
	}
}



// -------------------------------
//
//			Twitch Header
//
// -------------------------------
.twitch-header {
	padding: 15px;
	position: relative;
	overflow: hidden;
	background: #444;

	&:before {
		z-index: 1;
		content: "";
		position: absolute;
		@include all-directions(-30px);
		background-image: url("../../data/assets/images/youtube-header-alt.png");
		background-size: cover;
		background-position: center;
		-webkit-filter: blur(20px);
		filter: url("/assets/svg-filters.svg#blur");
		opacity: 0.5;
	}

	> * {
		position: relative;
		z-index: 2;
	}

	* { cursor: default; }


	.top-line {
		margin-bottom: 15px;
		padding-bottom: 10px;
		font-size: 0.9em;
		font-weight: 600;
		color: rgba(white,0.5);
		text-transform: uppercase;
		border-bottom: 1px solid rgba(white,0.2);
		overflow: hidden;

		.now-playing-label {
			float: left;
		}

		.live-status {
			font-weight: 300;
			float: right;
			color: rgba(white,0.5);

			&.premiere, &.live {
				color: rgba(white,0.7);
				font-weight: normal;
			}

			&.premiere:before, &.live:before {
				width: 9px;
				height: 9px;
				border-radius: 12px;
				content: "";
				display: inline-block;
				background: #fff;
				position: relative;
				border: 1px solid rgba(white,0.5);
				font-weight: 400;
				top: 1px;
				margin-right: 0.2em;
			}

			&.premiere:before {
				background: rgba(60,130,255,0.5);
			}
			&.live:before {
				background: rgba(255,50,50,0.6);
			}
		}
	}

	.now-playing {
		display: table;
		width: 100%;
		table-layout: fixed;

		> * {
			display: table-cell;
			vertical-align: middle;
		}

		.screenshot-wrapper {
			width: 36%;
			padding-right: 15px;

			.screenshot {
				position: relative;
				border-radius: 4px;
				overflow: hidden;
				cursor: pointer;

				&:after {
					content: "";
					position: absolute;
					@include all-directions(0);
					border: 1px solid rgba(white,0.2);
					border-radius: 4px;
					pointer-events: none;
					transition: all 0.2s ease-in-out;
				}
				&:hover:after {
					border-color: transparent;
					background: rgba(white,0.1);
				}

				&:before {
					color: rgba(white,0);
					font-family: "FontAwesome";
					content: "\f144";
					width: 100%;
					height: 26px;
					bottom: -26px;
					font-size: 26px;
					line-height: 26px;
					text-align: center;
					position: absolute;
					opacity: 0;
					transition: all 0.2s ease-in-out;
				}
				&:hover:before {
					bottom: 50%;
					margin-bottom: -13px;
					color: rgba(white,1);
					opacity: 1;
				}

				img {
					width: 100%;
					display: block;
					box-shadow: 0 0 1px rgba(black,0.2);
				}
			}
		}

		.info {
			color: white;
			text-align: center;

			> * {
				display: block;
				line-height: normal;
			}

			.title {
				margin-bottom: 0.75em;
				font-size: 1.1em;
				font-weight: 600;
				line-height: 1.2;
			}
			
			.subtitle {
				margin-bottom: 0.25em;
				font-weight: 400;
				font-size: 1em;
				line-height: 1.2em;
				color: rgba(white,0.7);
			}

			.game {
				font-weight: 400;
				font-size: 0.85em;
			}

			.viewers {
				margin-top: 0.5em;
				font-size: 0.9em;
				display: inline-block;
				line-height: 1em;
				border-radius: 3px;
				// background: rgba(white,0.7);
				color: rgba(white,0.32);
				z-index: 3;
				position: relative;

				.fa {
					font-size: 0.9em;
					margin-right: 0.4em;
				}
			}
		}
	}
}



// -------------------------------
//
//			Bottom Info
//
// -------------------------------

.sendeplan-view .bottom-text.last-updated-notice {
	padding: 0;
	margin: 0 0 15px;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	overflow: hidden;
	font-size: 13px;

	> span {
		padding: 0;
		padding-left: 1em;
		padding-top: 10px;
		display: block;
		color: #999;
		
		.last-updated {
			display: block;
			color: #777;
		}
	}

	button {
		width: 120px;
		border: none;
		border-left: 1px solid rgba(0,0,0,0.12);
		display: block;
		background: none;
		height: 52px;
		padding: 0;
		float: right;
		color: #888;
		cursor: pointer;
		font-size: 13px;
		font-family: "Source Sans Pro", sans-serif;

		&:hover {
			color: #555;
		}
	}
}

.sendeplan-view .bottom-text { margin-bottom: 75px; }



// -------------------------------
//
//		Sendeplan & Events
//
// -------------------------------
.schedule {
	font-size: 1em;
	line-height: normal;
	overflow-x: hidden;
	box-shadow: 0 1px 6px rgba(black,0.3);

	.event {
		position: relative;


		&:nth-child(even) { background: #d4d4d4; }

		.event-inner {
			display: table;
			width: 100%;
			min-height: 60px;
			position: relative;

			> * {
				box-sizing: border-box;
				display: table-cell;
				vertical-align: middle;
			}

			* { cursor: default; }

			.meta {
				position: relative;
				width: 80px;

				.live-status {
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -20px;
					text-align: center;
					width: 40px;
					padding: 3px;
					box-sizing: border-box;
					font-size: 0.75em;
					text-transform: uppercase;
					border-bottom-left-radius: 3px;
					border-bottom-right-radius: 3px;

					&.premiere {
						background: rgba(60,130,255,0.5);
					}

					&.live {
						background: rgba(255,50,50,0.6);
					}
				}

				.time {
					font-size: 0.9em;
					text-align: center;
					display: block;
				}
			}
			&.live .time,
			&.premiere .time {
				padding-top: 1.75em;
				padding-bottom: 0.5em;
			}

			.info {
				width: auto;
				overflow: hidden;
				padding: 0.85em;
				position: relative;
				// -moz-osx-font-smoothing: unset;

				.title {
					font-weight: 400;
					display: block;
				}
				.topic {
					font-size: 0.9em;
					font-weight: 300;
					display: block;
					letter-spacing: 0.4;
				}
				.game {
					font-size: 0.9em;
					font-weight: 300;
					opacity: 0.7;
				}
			}
		}

		.reminder-button {
			transition: opacity 0.12s ease-in-out;
			opacity: 0;
			position: absolute;
			top: 50%;
			// right: 12px;
			right: 10px;
			padding: 3px;
			font-size: 15px;
			line-height: 15px;
			margin-top: -11px;
			cursor: pointer;
			// pointer-events: none;
		}
		// &:hover .reminder-button {
		// 	opacity: 0.5;
		// 	// pointer-events: auto;
		//
		// 	&:hover {
		// 		opacity: 1;
		//
		// 		.fa:before {
		// 			content: "\f0f3";
		// 		}
		// 	}
		// }

		.progress {
			top: 0;
			left: 0;
			bottom: 0;
			position: absolute;
		}

		> *:not(.progress) {
			position: relative;
			z-index: 1;
		}

		// .options {
		// 	.options-button {
		// 		position: absolute;
		// 		top: 50%;
		// 		right: 10px;
		// 		margin-top: -10px;
		// 		width: 22px;
		// 		height: 22px;
		// 		border-radius: 22px;
		// 		display: block;
		// 		border: 1px solid white;
		// 		line-height: 12px;
		// 		padding-left: 2px;
		// 		box-sizing: border-box;
		// 		font-weight: 300;
		// 		opacity: 0.7;
		// 		color: white;

		// 		&:hover {
		// 			cursor: pointer;
		// 			background: white;
		// 			opacity: 1;
		// 		}
		// 	}
		// }
	}

	/* Current Event */
	.event.current {
		// color: #926C24;
		color: #9E7518;
		background: #E2CDA3;
		position: relative;

		.info {
			.title {
				font-size: 1.15em;
				font-weight: 600;
			}
			.topic {
				font-size: 1.05em;
				font-weight: 400;
				margin-bottom: 0.2em;
			}
			.game {
				font-size: 1em;
				opacity: 1;
			}
		}

		.progress { background: #E0C07D; }

		.meta {
			.live-status { opacity: 0; }

			.live-status.live, .live-status.premiere {
				color: #E2CDA3;
				opacity: 0.5;
				background: #7A5110 !important;
			}

			.time {
				padding: 1.25em 0;
				line-height: 1em;
				FONT-SIZE: 1.1em;
			}

			.time-start,.time-bis-label,.time-end {
				display: block;
				opacity: 0.7;
			}

			.time-end { margin-top: 0.1em; }
		}

		.time-remaining {
			font-size: 1.05em;
			opacity: 0.8;
			display: block !important;
			width: 100%;
			padding: 0.75em 1em 0.85em;
			padding-left: calc(80px + 1em);
			border-top: 1px solid rgba(#9E7518,0.3);
		}
	}


	.event:not(.current) {
		color: #fff;

		.meta { background: #999; }
		.info { background: #aaa; }

		&:nth-child(even) {
			.meta { background: #888; }
			.info { background: #999; }
		}

		&.live, &.premiere {
			.meta { background: #555; }
			.info { background: #666; }

			&:nth-child(even) {
				.meta { background: #444; }
				.info { background: #555; }
			}
		}

		&.past {
			font-style: italic;
			opacity: 0.7;
			text-decoration: line-through;

			&.live,&.premiere { opacity: 0.5; }

			.live-status.live, .live-status.premiere { background: #333; }
		}
	}


	&.monday .event:not(.current):not(.past) {
		color: #fff;

		.meta { background: #7B7D87; }
		.info { background: #909299 }

		&:nth-child(even) {
			.meta { background: #686974; }
			.info { background: #7D7F87; }
		}

		&.live, &.premiere {
			.meta { background: #303768; }
			.info { background: #495684; }

			&:nth-child(even) {
				.meta { background: #242755; }
				.info { background: #394271; }
			}
		}
	}

	&.tuesday .event:not(.current):not(.past) {
		color: #fff;

		.meta { background: #7b8573; }
		.info { background: #8e9887 }

		&:nth-child(even) {
			.meta { background: #8a957e; }
			.info { background: #a0a899; }
		}

		&.live, &.premiere {
			.meta { background: #324020; }
			.info { background: #4b5739; }

			&:nth-child(even) {
				.meta { background: #3b4826; }
				.info { background: #5d684a; }
			}
		}
	}

	&.wednesday .event:not(.current):not(.past) {
		color: #fff;

		.meta { background: #6a6559; }
		.info { background: #797468 }

		&:nth-child(even) {
			.meta { background: #7d796a; }
			.info { background: #8b8778; }
		}

		&.live, &.premiere {
			.meta { background: #522f46; }
			.info { background: #634550; }

			&:nth-child(even) {
				.meta { background: #402136; }
				.info { background: #50343e; }
			}
		}
	}

	&.thursday .event:not(.current):not(.past) {
		color: #fff;

		.meta { background: #95785f; }
		.info { background: #a68a72 }

		&:nth-child(even) {
			.meta { background: #a68a72; }
			.info { background: #b59c85; }
		}

		&.live, &.premiere {
			.meta { background: #833b18; }
			.info { background: #9b5f30 }

			&:nth-child(even) {
				.meta { background: #702c13; }
				.info { background: #884b24; }
			}
		}
	}

	&.friday .event:not(.current):not(.past) {
		color: #fff;

		.meta { background: #577c6a; }
		.info { background: #709589 }

		&:nth-child(even) {
			.meta { background: #698d7d; }
			.info { background: #81a59b; }
		}

		&.live, &.premiere {
			.meta { background: #122d37; }
			.info { background: #1c4a5d }

			&:nth-child(even) {
				.meta { background: #143c47; }
				.info { background: #245c71; }
			}
		}
	}

	&.saturday .event:not(.current):not(.past) {
		color: #fff;

		.meta { background: #aa7e8d; }
		.info { background: #b9929e }

		&:nth-child(even) {
			.meta { background: #b9929e; }
			.info { background: #c5a4ae; }
		}

		&.live, &.premiere {
			.meta { background: #6a1222; }
			.info { background: #7a182c }

			&:nth-child(even) {
				.meta { background: #7a182c; }
				.info { background: #8f2937; }
			}
		}
	}

	&.sunday .event:not(.current):not(.past) {
		color: #fff;

		.meta { background: #ae9480; }
		.info { background: #bca592 }

		&:nth-child(even) {
			.meta { background: #9e816d; }
			.info { background: #ae9480; }
		}

		&.live, &.premiere {
			.meta { background: #7f3226; }
			.info { background: #924432 }

			&:nth-child(even) {
				.meta { background: #6a221d; }
				.info { background: #7f3226; }
			}
		}
	}
}

.no-schedule-date {
	font-size: 1.1em;
	color: rgba(black,0.4);
	padding: 2em 3em;
	line-height: normal;
	text-align: center;
	border-bottom: 1px solid rgba(black,0.1);

	.date .dated { font-weight: 600; }
}