.social-block {
	padding: 3em 2em;
	border-bottom: 1px solid #ddd;
	text-align: center;

	.social-icon {
		margin: 0 0 15px;
		font-size: 4em;
	}
		.twitter .social-icon { color: #2481BE; }
		.facebook .social-icon { color: #1E327C; }

	h2 {
		margin: 0 0 1em;
		font-weight: 600;
		font-size: 1.3em;
		color: #333;
	}

	.social-text {
		line-height: 1.35em;
		color: #777;
		
		.button {
			margin-top: 1.5em;
		}
	}
}