<div class="window-content">
	<ul class="playlist-list">
		<li class="playlist template">
			<a href="">
				<!-- <div class="favorite">
					<span class="favorite-button fa">
					</span>
				</div> -->
				
				<div class="pic">
					<div class="pic-container"></div>
				</div>

				<div class="info">
					<span class="block title"></span>
					<span class="block">
						<span class="video-count"></span>
						<span class="last-updated"></span>
						<!-- <span class="created-at"></span> -->
					</span>
				</div>
			</a>
		</li>
	</ul>
</div>