<div class="window-content">
	<div class="shows-wrapper">
		<div class="category template">
			<h2 class="fatbox-category-title category-title">Entertainment</h2>
			<section class="post-list fatbox-list show-list template">
				<article class="post template">
					<div class="fatbox-pic is-placeholder"></div>
					<h3 class="post-title"></h3>
				</article>
			</section>
		</div>
	</div>
</div>