<div class="subpage-overlay">
	<div id="show-detail" class="show-detail">
		<div class="header">
			<p class="close-button"><i class="fa fa-close"></i></p>
			<p class="header-pic"></p>

			<div class="badges">
				
			</div>

			<div class="info">
				<h2 class="title"></h2>
				<p class="date"><strong class="day"></strong> <span class="time"></span></p>
			</div>
		</div>

		<div class="description">
			<div class="description-text"></div>

			<p class="wiki-link"><a class="button with-icon" href=""><i class="fa fa-book"></i> Wiki-Artikel zu <span class="title"></span></a></p>
		</div>

		<h2 class="video-list-title category-title"><span class="title"></span> auf YouTube</h2>

		<div class="video-list-wrapper">
			<span class="spinner-area">
				
			</span>
		</div>
	</div>
</div>